.form {
  padding: 10px;
}
#table_data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

#table_data td,
#table_data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table_data tr:hover {
  background-color: #ddd;
}

#table_data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8f0207;
  color: white;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #8f0207;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
select,
.loading {
  color: #8f0207;
}
input::placeholder {
  color: rgba(141, 2, 7, 0.5);
}

label {
  color: #8f0207;
  padding: 0px 8px;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #8f0207;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #8f0207;
}

.dropdown:hover .dropdown-content {
  display: block;
}
